* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 100vh;
    background: #000951;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 15px;
    border-bottom: 1px solid #bababa;
}
.top-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.top-nav button {
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 2px solid #e81e;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.4s ease-out;
    &:hover {
        background-color: #e81e;
    }
    transition: color 0.3s ease-out;
    &:hover {
        color: #000951;
    }
}
.side-nav {
    position: fixed;
    /*background: #e81e;*/
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background: linear-gradient(#000951, #000267, #000, #001);
    background-size: 100% 500%;
    background-position: 0 40%;
}
.side-nav .Logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #002922;
    margin-bottom: 20px;
}
.side-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
}
.side-nav a:hover {
    color: #e81e;
}
